---
import Layout from "../layouts/Layout.astro";
import CalendarComponent from "../components/react-components/components/CalendarComponent.tsx";
---

<Layout>
    <main class="border mt-24 m-7 p-5 rounded-md border-gray-800">
        <div class="flex flex-wrap justify-between">
            <div>
                <h2 class="text-2xl">Calendario</h2>
                <p>Gestiona tus fechas importantes de una manera mas comoda</p>
            </div>
            <div class="flex text-center items-center content-center ">
                <div class="flex items-center p-3 text-gray-800 hover:bg-gray-100 rounded-lg transition-colors group border">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-3 text-gray-600 group-hover:text-black" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                    </svg>
                    <span class="font-medium">14-abr-2001</span>
                </div>
            </div>
        </div>

        <div class="mt-12">
            <CalendarComponent
                    client:load
                    closedDays={[]}
                    possibleDays={[]}
                    disabledDays={[]}
            />
        </div>
    </main>
</Layout>