---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import SideBar from "../components/astro-components/SideBar.astro";
import HomeContent from '../components/react-components/pages/HomeContent';
import DateSpan from "../components/astro-components/DateSpan.astro";


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Citas">
    <main class="border mt-20 m-7 p-5 rounded-md border-gray-800">
        <div class="flex flex-wrap justify-between">
            <div>
                <h2 class="text-2xl">Registro de Citas</h2>
                <p>Gestiona las citas de tu negocio</p>
            </div>
            <div class="flex text-center items-center content-center ">
                <DateSpan/>
            </div>
        </div>

        <div>
            <HomeContent client:load/>
        </div>

    </main>
</Layout>
