---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import SideBar from "../components/astro-components/SideBar.astro";
import HomeContent from '../components/react-components/pages/HomeContent';


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<header class="mt-16">
		<h1 class="text-start text-4xl font-bold">Consultorio Sebas420</h1>
		<h2 class="mt-3">Este es un consultorio que te pone bien grifo. No cura pero te deja loco</h2>
	</header>
	<main class="border m-7 p-5 rounded-md border-gray-800">
		<div class="flex flex-wrap justify-between">
			<div>
				<h2 class="text-2xl">Registro de Citas</h2>
				<p>Gestiona las citas de tu negocio</p>
			</div>
			<div class="flex text-center items-center content-center ">
				<div class="flex items-center p-3 text-gray-800 hover:bg-gray-100 rounded-lg transition-colors group border">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-3 text-gray-600 group-hover:text-black" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
					</svg>
					<span class="font-medium">14-abr-2001</span>
				</div>
			</div>
		</div>

		<div>
			<HomeContent/>
		</div>

	</main>
</Layout>
