---
interface Props {
  fecha?: Date | string;
}

// Obtener la fecha de las props o usar la fecha actual
const { fecha } = Astro.props;
const fechaObj = fecha ? (typeof fecha === 'string' ? new Date(fecha) : fecha) : new Date();

// Formatear la fecha
const options = { year: 'numeric', month: 'short', day: '2-digit' };
const fechaFormateada = fechaObj.toLocaleDateString('es-MX', options).replace('.', '').toLowerCase();
---

<div class="flex items-center p-3 text-gray-800 hover:bg-gray-100 rounded-lg transition-colors group border">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-3 text-gray-600 group-hover:text-black" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
    </svg>
    <span class="font-medium">{fechaFormateada}</span>
</div>
