---
import AppointmentModal from '../react-components/AppointmentModal';
import ButtonDate from '../react-components/components/ButtonDate';
import { Image } from "astro:assets";
---

<header class="w-full bg-white text-gray-800 shadow-md fixed top-0 left-0 z-40">
    <div class="container mx-auto px-4 py-1">
        <div class="flex items-center justify-between">
            <div class="py-1">
                <a href="/" class="flex items-center">
                    <div class="w-auto h-15 flex items-center">
                        <Image 
                            src="/BioraLogoReal.png" 
                            alt="Logo de BIORA" 
                            width={180} 
                            height={60} 
                            class="object-contain max-h-full" 
                        />
                    </div>
                </a>
            </div>
            <div>
                <ButtonDate client:load />
                <AppointmentModal client:load />
            </div>
        </div>
    </div>
</header>
